version: '3.9'

services:


  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_DB: instagramcloneDB
      POSTGRES_USER: springapp
      POSTGRES_PASSWORD: Abdoumimi12
    ports:
      - "5432:5432"


  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"


  keycloak:
    image: quay.io/keycloak/keycloak:21.1.1
    container_name: keycloak
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: Admin123!
    command: start-dev
    ports:
      - "8080:8080"


